DEBUG=True
PROJECT_ID=credemhack-cloudfunctions
INPUT_BUCKET=credemhack_cloud_fuctions
OUTPUT_BUCKET=credemhack_cloud_fuctions
LOCATION=us
PROCESSOR_ID=e4a86664fd2377e2
LLM_MODEL=gemini-2.5-pro  # Model name depends on vendor
CLUSTERS_PATH="etl_db_data/clusters.csv"
TRAIN_GT_PATH="etl_db_data/doc_trains.csv"
PERSONALE_PATH="etl_db_data/personale.csv"
